<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <% if Helpers.is_logged_in?(@session) %>
      <h1>Welcome <%= Helpers.is_logged_in?(@session).name %></h1>
      <h3>Your Balance: <%= Helpers.is_logged_in?(@session).balance %></h3>
    <% else %>
      You Must <a href="/">Log In</a> to View Your Balance
    <% end %>
  </body>
</html>
